<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" href="../img/talleres_automundo.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84a370438e.js" crossorigin="anonymous"></script>
    <meta name="description" content="Aqui podras encontrar a que nos dedicamos.">
    <meta name="keywords" content="Chrysler, Dodge, Jeep, Mopar, Ram, Repuestos, Taller">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Navbar -->
            <div class="container">
                <a class="navbar-brand" href="../index.html"><img src="../img/talleres_automundo.png" alt="Logo"></a>
                <!-- Logo -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./nosotros.html">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./mi_cuenta.html">Mi Cuenta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>   <!-- Pagina 404 -->
        <h1 class="titulo404">404</h1>
        <div class="parrafo404">
            <div>
                <p>
                    No pudimos encontrar nada en esta direccion... podrías revisar la URL?
                </p>
                <p>
                    Si el problema persiste podés contactarnos a <a href="#">automundojeed@info.com.ar</a>, perdón por las molestias.
                </p>
                </div>
                <div style="margin-top: 50px;">
                    <div>
                        <p>
                        Quizás te interese ver nuestros productos
                        </p>
                    </div>
                    <div style="padding: 30px; font-size: 2rem;">
                        <a href="./productos.html">Productos</a>
                    </div>
                </div>
            </div>
    </section>  <!-- Footer nuevo -->
    <footer class="footer-nuevo">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left mt-3 pb-3">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <br>
                    <br>
                    <br>
                    <img src="../img/talleres_automundo.png" alt="Logo">
                    <p></p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <div class="titulo">Sobre nosotros</div>
                    <p class="externo">
                        <div class="texto-footer">
                            Talleres Automundo SA es un centro de servicio completo de mantenimiento preventivo y
                            reparacion de automoviles.
                        </div>
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <div class="titulo">
                        Links
                    </div>
                    <p class="externo">
                        <div class="texto-footer">
                            <a href="../index.html">Inicio</a>
                            <br>
                            <a href="../views/nosotros.html">Sobre Nosotros</a>
                            <br>
                            <a href="../views/productos.html">Productos</a>
                            <br>
                            <a href="../views/contacto.html">Contacto</a>
                            <br>
                            <a href="../views/mi_cuenta.html">Mi Cuenta</a>
                    </p>
                </div>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <div class="titulo">Contactanos</div>
                <p class="externo">
                    <div class="texto-footer">
                        Direccion <br>
                        Email <br>
                        Telefono <br>
                        Horario
                    </div>
                    <br>
                </p>
                <div class="col text-center">
                    <ul class="social-network social-circle">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8"></div>
            <div class="col-md-5 col-lg-4 ml-lg-0"></div>
        </div>
        </div>
        </div>
    </footer>
    <section>   <!-- Copyright -->
        <div class="col-md-12">
            <div class="lineapie">
                &copy; 2021 - Talleres Automundo. Todos los derechos reservados.
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>