<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" href="../img/talleres_automundo.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84a370438e.js" crossorigin="anonymous"></script>
    <meta name="description" content="Aqui podras encontrar a que nos dedicamos.">
    <meta name="keywords" content="Chrysler, Dodge, Jeep, Mopar, Ram, Repuestos, Taller">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Navbar -->
            <div class="container">
                <a class="navbar-brand" href="../index.html"><img src="../img/talleres_automundo.png" alt="Logo"></a>   <!-- Logo -->
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./nosotros.html">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./mi_cuenta.html">Mi Cuenta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">     <!-- Carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/motor-demon.jpg" class="d-block w-100" alt="Motor Demon">
            </div>
        </div>
      </div>
    <nav aria-label="breadcrumb">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sobre Nosotros</li>
        </ol>
    </nav>
    <section>
        <!-- Sobre Nosotros -->
        <h1>Sobre Nosotros</h1>
        <div class="tarjeta-nosotros animate__animated animate__backInRight">
            <!-- Quienes Somos -->
            <div class="tarjeta-nosotros__info">
                <div class="tarjeta-nosotros__info--img">
                    <img src="../img/interior-jeep.jpg" alt="Interior Jeep" width="600">
                </div>
                <div class="contenido nosotros">
                    <h2>Quienes <span>Somos</span></h2>
                    <h3>Más de 20 años brindado servicios</h3>
                    <p>Nuestras instalaciones son de propiedad y operación independientes, brindando servicios completos
                        de reparación y mantenimiento.<br> Utilizamos Scanners y equipos de diagnostico originales de la
                        marca para garantizar que su vehículo sea reparado adecuadamente y de manera oportuna.<br> Somos
                        Agente Oficial <strong>Chrysler - Jeep - Dodge - Ram - Repuestos Mopar</strong>, pertenecenemos
                        a una red de elite donde el objetivo en común es satisfacer al cliente.</p>
                </div>
            </div>
        </div>
        <div class="tarjeta-nosotros animate__animated animate__backInLeft">
            <!-- Servicio de Mantenimiento -->
            <div class="tarjeta-nosotros__info">
                <div class="contenido">
                    <h2>Servicio de <span>Mantenimiento</span></h2>
                    <h3>Excelencia en nuestra atencion y servicio</h3>
                    <p>El servicio de mantenimiento y reparacion de automoviles es un servicio de propiedad y operación familiar.<br> El mismo se lleva a cabo en nuestras instalaciones a partir del año 1970. Talleres Automundo S.A. es un centro de servicio completo de mantenimiento preventivo y reparacion de automoviles.<br> Nuestros tecnicos estan especializados y listos para lidiar con cualquier reparacion necesaria y subsanar cualquier anomalia que se presente.<br> Realizamos servicios de alta calidad y garantizados en los que puede confiar a un precio justo.</p>
                </div>
                <div class="tarjeta-nosotros__info--img nosotros-1">
                    <img src="../img/trackhawk.jpg" alt="Trackhawk" width="600">
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-nuevo"> <!-- Footer -->
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left mt-3 pb-3">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <br>
                    <br>
                    <br>
                    <img src="../img/talleres_automundo.png" alt="Logo">
                    <p></p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <div class="titulo">Sobre nosotros</div>
                    <p class="externo">
                        <div class="texto-footer">
                            Talleres Automundo SA es un centro de servicio completo de mantenimiento preventivo y
                            reparacion de automoviles.
                        </div>
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <div class="titulo">
                        Links
                    </div>
                    <p class="externo">
                        <div class="texto-footer">
                            <a href="../index.html">Inicio</a>
                            <br>
                            <a href="../views/nosotros.html">Sobre Nosotros</a>
                            <br>
                            <a href="../views/productos.html">Productos</a>
                            <br>
                            <a href="../views/contacto.html">Contacto</a>
                            <br>
                            <a href="../views/mi_cuenta.html">Mi Cuenta</a>
                    </p>
                </div>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <div class="titulo">Contactanos</div>
                <p class="externo">
                    <div class="texto-footer">
                        Direccion <br>
                        Email <br>
                        Telefono <br>
                        Horario
                    </div>
                    <br>
                </p>
                <div class="col text-center">
                    <ul class="social-network social-circle">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8"></div>
            <div class="col-md-5 col-lg-4 ml-lg-0"></div>
        </div>
        </div>
        </div>
    </footer>
    <section> <!-- Copyright -->
        <div class="col-md-12">
            <div class="lineapie">
                &copy; 2021 - Talleres Automundo. Todos los derechos reservados.
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>
</html>