<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" href="/img/talleres_automundo.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84a370438e.js" crossorigin="anonymous"></script>
    <meta name="description" content="Productos de nuestra Tienda Oficial">
    <meta name="keywords" content="Chrysler, Dodge, Jeep, Mopar, Ram, Repuestos, Taller">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- Navbar -->
            <div class="container">
                <a class="navbar-brand" href="../index.html"><img src="../img/talleres_automundo.png" alt="Logo"></a> <!-- Logo -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./nosotros.html">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./mi_cuenta.html">Mi Cuenta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> 
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/dodge-durango.jpg" class="d-block w-100" alt="Dodge Durango">
            </div>
        </div>
      </div>
    <nav aria-label="breadcrumb">   <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
          <li class="breadcrumb-item"><a href="./productos.html">Productos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Pagina 2</li>
        </ol>
      </nav>
    <h1>Productos</h1>  <!-- Productos -->
    <section id="productos"> <!-- Grid con productos -->
        <div class="contenedor">
            <div>
                <img src="../img/enfriador-aceite.jpg" alt="Enfriador aceite" width="300px">
                <h3>ENFRIADOR ACEITE</h3>
                <p>05184294AE – ENFRIADOR ACEITE – MOTOR 3.6 – ORIGINAL MOPAR</p>
                <span>Precio</span>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <div>
                <img src="../img/motor-de-arranque-srt8.jpg" alt="Motor de arranque SRT8" width="300px">
                <h3>MOTOR DE ARRANQUE SRT8</h3>
                <p>05038677AD – BOMBA DE AGUA MOTOR 5.7 6.4 HEMI – GRAND CHEROKEE SRT8</p>
                <span>Precio</span>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <div>
                <img src="../img/motor-de-arranque.jpg" alt="Motor de arranque" width="300px">
                <h3>MOTOR DE ARRANQUE</h3>
                <p>04801852AB – MOTOR DE ARRANQUE – GRAND CHEROKEE – MOTOR 3.6 – ORIGINAL MOPAR</p>
                <span>Precio</span>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <div>
                <img src="../img/alternador.jpg" alt="Alternador" width="300px">
                <h3>ALTERNADOR</h3>
                <p>04801778AI – ALTERNADOR GRAND CHEROKEE WK – ORIGINAL MOPAR</p>
                <span>Precio</span>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <div>
                <img src="../img/interruptor-de-freno.jpg" alt="Interruptor de freno" width="300px">
                <h3>INTERRUPTOR DE FRENO</h3>
                <p>56054001AD – INTERRUPTOR DE FRENO – GRAND CHEROKEE COMPASS JOURNEY</p>
                <span>Precio</span>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <div>
                <img src="../img/bomba-de-embrague.jpg" alt="Bomba de embrague" width="300px">
                <h3>BOMBA DE EMBRAGUE</h3>
                <p>52060132AE – BOMBA DE EMBRAGUE JEEP WRANGLER – ORIGINAL MOPAR</p>
                <span>Precio</span>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <nav aria-label="Page navigation example">  <!-- Navegacion Paginas -->
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="./productos2.html">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" href="./productos.html">1</a></li>
                <li class="page-item"><a class="page-link" href="./productos2.html">2</a></li>
                
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
                </li>
            </ul>
        </nav>
    </section>
    <footer class="footer-nuevo">   <!-- Footer nuevo -->
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left mt-3 pb-3">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <br>
                    <br>
                    <br>
                    <img src="../img/talleres_automundo.png" alt="Logo">
                    <p></p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <div class="titulo">Sobre nosotros</div>
                    <p class="externo">
                        <div class="texto-footer">
                            Talleres Automundo SA es un centro de servicio completo de mantenimiento preventivo y
                            reparacion de automoviles.
                        </div>
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <div class="titulo">
                        Links
                    </div>
                    <p class="externo">
                        <div class="texto-footer">
                            <a href="../index.html">Inicio</a>
                            <br>
                            <a href="../views/nosotros.html">Sobre Nosotros</a>
                            <br>
                            <a href="../views/productos.html">Productos</a>
                            <br>
                            <a href="../views/contacto.html">Contacto</a>
                            <br>
                            <a href="../views/mi_cuenta.html">Mi Cuenta</a>
                    </p>
                </div>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <div class="titulo">Contactanos</div>
                <p class="externo">
                    <div class="texto-footer">
                        Direccion <br>
                        Email <br>
                        Telefono <br>
                        Horario
                    </div>
                    <br>
                </p>
                <div class="col text-center">
                    <ul class="social-network social-circle">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8"></div>
            <div class="col-md-5 col-lg-4 ml-lg-0"></div>
        </div>
        </div>
        </div>
    </footer>
    <section>   <!-- Copyright -->
        <div class="col-md-12">
            <div class="lineapie">
                &copy; 2021 - Talleres Automundo. Todos los derechos reservados.
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>
